
 *.cpp linguist-detectable=false
 *.cmake linguist-detectable=false
 *.dart linguist-detectable=true
 *.html linguist-detectable=true
 *.swift linguist-detectable=true 
 *.c linguist-detectable=false

